{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}réinitialisez votre Mot de Passe{% endblock %}
{% block content %}
<h1>Réinitialisez votre Mot de Passe</h1>
{% if validlink %}
<p>Veuillez entrer votre nouveau Mot de Passe deux fois :</p>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary" value="Change my password">Envoyez</button>
    {% endbuttons %}
</form>
{% else %}
<p>Le lien de réinitialisation du Mot de Passe n'était pas valide, peut-être parce qu'il a
    déjà été utilisé. Veuillez demander une nouvelle réinitialisation de Mot de Passe.</p>
{% endif %}
{% endblock %}