
<nav  class="navbar navbar-icon-top navbar-expand-lg navbar-warning bg-white">
    <a style="font-weight: bold;color: darkslategrey;font-size:x-large;" class="navbar-brand" href="#">FASO-YAARE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="font-size:20px;" class="nav-link" href="/">
          Accueil
          <span class="sr-only">(current)</span>
          </a>
      </li>

     {% if request.user.peut_vendre %}
     <li>
      <a style="padding-top: 13px;" class="nav-link" href="/authdashboard/"> DASHBORD
     {% endif %}
    </ul>

  </div>
  <marquee class="text-warning"><h3> Ayez votre boutique en main, partout Où vous êtes!</h3> </marquee>
  </nav>
  